.clean-block {
    padding-bottom: 50px;
    margin-bottom:40px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important
}

.col-md-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    margin-right:0x;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%
}

.comments-title {
    color:white;
    text-align: left;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    padding-left:30px;
    padding-bottom:20px;
    max-width:950px;
    background-color:#a2c4c9 ;
}
.no-comments-message{
    color:#76a5af;
    text-align:center;
    padding-top:40px;
}