.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.liked-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.liked-msg {
    color:#45818e;
    text-align: center;
    font-size: 40px;
    padding-top:60px;
}