.btn-like-dislike{
    margin-left: 70px;
    margin-right: 10px;
    margin-top: 20px;
   background-color:#76a5af;
   color:white;
   border-color:#45818e;

}

.btn-edit {
    font-size:40px;
    color: white;
    background-color: #eccb35;
    background-image: none;
    border-color: #dfc035;
    margin-left: 87px;
}

.btn-delete {
    color: white;
    background-color: #a52913;
    background-image: none;
    border-color: #aa3b27;
    margin-left: 40px;
    margin-right: 60px;
    margin-top: 20px;
}

.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .5rem
}