.details-wrapper {
    background-color:#d0e0e3;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.no-recipes {
    padding-left:390px;
    margin-top:150px;
    text-align:left;
    font-size:35px;
     color:#134f5c;
     padding-bottom: 90px;
}



