@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
.wrapper-profile{
    background-color: #d0e0e3;
}
.profile-container {
  width: 400px;
  margin: 120px auto 120px;
  background-color:white;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}
.container:hover .avatar {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.avatar {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

h3 {
  font-size: 25px;
  color: #45818e;
  letter-spacing: 1px;
  margin-bottom: 25px
}
.liked-owned-message {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 15px;
  background-color: #45818e;
  margin-left:70px;
  margin-right:70px;
}

 