.search-input {
    width:1027px;
}

.search-form {
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    background-color:#a2c4c9;
}

.search-submit {
    background-color:#76a5af;
    color:white;
    border-color:#76a5af;
}